/* Add your styles here */
body {
    background-color: lightgray;
}
.container-fluid {
    padding-right: 10px;
    padding-left: 10px;
}
.card {
    padding: 8px;
    border: 1px solid black;
    margin: 8px;
}
.card-header {
    background:#fff;
    margin-bottom: 5px;
}
label {
    display: inline-block;
}
.player-input-field {
    display: inline-block;
    text-align: center;
}
fieldset > .form-group {
    margin-bottom: 0px;
}
.hole-number-display-graphic {
    font-size: 5rem;
    font-weight: 900;
    line-height: 3.5rem;
}
legend {
    margin-bottom: 0px;
}
.player-input-field {
    border: none;
    font-size: 1.25rem;
    text-align: center;
}
.score-input-rows {
    margin-top: .25rem;
    margin-bottom: .25rem;
}
.score-input-rows > label {
    display: inline-block;
    font-size: 1.25rem;
    word-wrap: initial;
}
.plus-minus-buttons {
    display: inline-block;
}
.plus-minus-buttons > button > i {
    font-size: 1.5rem;
    padding-right: .25rem;
    padding-left: .25rem;
}
.player-input-helper {
    vertical-align: top;
    display: inline-block;
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}
.full-screen-modal {
      margin: 0px;
      height: calc(100vh - 1%);
      width: 100vw;
}
.full-screen-modal>div {
      border-radius: 4px;
    margin-bottom: 1rem;
}
.modal-headerfooter-fix {
      max-height: fit-content;
      padding-top: 4px;
      padding-bottom: 8px;
}
table {
      width: 100%;
}
.blank-table-cell {
    border: none;
}
th, td {
    border: 1px solid black;
    text-align: center;
    font-weight: 900;
}
.scorecard-holenumber-column {
    font-weight: 700;
}
.scorecard-player-names {
    overflow: hidden;
    display: inline;
}
.header-row {
    height: auto;
}
.player-score {
    display: inline-block;
    padding: 1px 8px;
    margin: 1px;
}
.double-bogey {
    border: medium;
    border-style: double;
}
.bogey {
    border: thin;
    border-style: solid;
}
.par {
    border: none;
}
.birdie {
    border: thin;
    border-style: solid;
    border-radius: 14px;
}
.under-birdie {
    border: medium;
    border-style: double;
    border-radius: 16px;
}
tr {
    height: 37px;
}
